$black: #000000;
$white: #ffffff;
$blue: #2d9cdb;
$lightBlue: #77cef9;
$lighterBlue: #e7f6ff;
$background: #f8f8f8;
$subheader: #4f4f4f;
$divider: #828282;
$prompt: #b3b3b3;
$gold: #ddb028;
$orange: #f4511c;
$green: #6fcf97;
$textFieldError: #bb0000;
$darkBlue: #22214b;
$teal: #00afb9;
$mimosa: #fdfcdc;
$apricot: #fed8b7;
$burntSienna: #f07067;
$concrete: #f2f2f2;

//bootstrap colors
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$primary: #007bff;
$secondary: #6c757d;
$light: #f8f9fa;
$dark: #343a40;
